<section class="container-fluid">
    <form class="col s12">
        <div class="row">
            <div class=" col s6">
                <select ng-model="selectedLeague" class="select_stats" ng-clock ng-click="$ctrl.selectLeague()">
      <option value="" disabled selected>Choose your option</option>
      <option  value="{{caption.league}}" ng-repeat="caption in $ctrl.league">{{caption.caption}}</option>
      
   
    </select>

            </div>
            <div class=" col s6">
                <input class="form-control" type="search" ng-clock ng-model="$ctrl.searchTeam" ng-change="$ctrl.getTeamsSheet(selectedLeague)"
                    <label for="team">Team Name</label>
            </div>

               <div class=" table-responsive search-table col-sm-12 col-md-6 pull-right" ng-show="$ctrl.searchTeam">
                <table class="table table-bordered table-inverse table-hover table-success ">

                    <tbody>
                        <br>
                        <tr ng-repeat="team in $ctrl.team | filter:$ctrl.searchTeam" ng-model="$ctrl.stocker" ng-click="$ctrl.selectTeam(team)">
                            <td><img src="{{team.crestUrl}}" class="img-responsive" height="50px" width="50px"></td>
                            <td ui-sref="stats">{{team.name}}</td>


                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
    </form>
</section>