div.news{

  height: 250px;
    background-color: grey;
    
}
.img-news{
height: 250px;
}
.image { 
   position: relative; 
 
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
  section{
    margin-top:25px;
  }
  .well{
    margin:15px 15px;
   background-color: rgba(223, 240, 216, 0.5);
    border: 1px solid #060000;
  }
  .carousel-image
  {
    height: 400px  !important;
  }
.table-responsive{
  position: absolute;
}
table {
    background-color: rgba(223, 240, 216, 0.6);
}
  .teamdetails {
   
    height: 100px;
    padding: 15px;
  background-color: rgba(231, 249, 223, 0.6);
    box-shadow: 10px 10px 5px grey;
    margin: 5px 5px 5px 5px;
}
  .ranking-table{
     padding: 15px;
  background-color: rgba(231, 249, 223, 0.6);
    box-shadow: 10px 10px 5px grey;
    margin: 5px 65px 5px 45px;
  }